@font-face {
  font-family: questrial;
  src: url(../fonts/Questrial-Regular.ttf);
}
@font-face {
  font-family: italiana;
  src: url(../fonts/Italiana-Regular.ttf);
}

* {
  font-family: questrial;
  padding: 0;
  margin: 0;
  background-color: rgba(30, 30, 30, 1);
  color: rgba(230, 232, 230, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

/* navbar */

nav {
  height: 10vh;
}

body nav .nav-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 70px 20px 40px;

  @media screen and (max-width: 450px) {
    padding: 20px 20px 20px 40px;
  }
}

.nav-content .right-nav {
  display: flex;
  align-items: center;
}

.nav-content .right-nav ul {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.right-nav ul li {
  margin-left: 30px;
  list-style: none;
}
.right-nav ul li a {
  text-decoration: none;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #aaa;
  width: 100%;
  margin-bottom: 30px;
}

.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #707070; /* Couleur des lignes */
  margin: 0 100px; /* Espacement entre le texte et les lignes */
}

/* main  */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-family: italiana;
  margin-bottom: 40px;
  font-size: 6rem;

  @media screen and (max-width: 650px) {
    font-size: 4rem;
  }
  @media screen and (max-width: 450px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 325px) {
    font-size: 2.5rem;
  }
}

p {
  margin-bottom: 40px;
}

main p {
  text-align: center;
}

.gif {
  width: 700px;
  height: 300px;
  border-radius: 20px;

  @media screen and (max-width: 900px) {
    width: 80%;
    height: 200px;
  }
}

.artist-btn {
  margin-top: 30px;
  padding: 10px 50px;
  background-color: #ddd;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}
.artist-btn p {
  margin-bottom: 0;
  background-color: #dddddd;
  color: #1e1e1e;
}

footer {
  margin-left: 20px;
}

footer p {
  color: rgba(83, 83, 83, 1);
}
